<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}

{% if page.bigimg %}
  <div id="header-big-imgs" data-num-img={% if page.bigimg.first %}{{ page.bigimg.size }}{% else %}1{% endif %}
    {% for bigimg in page.bigimg %}
	  {% assign imgnum = forloop.index %}
	  {% for imginfo in bigimg %}
	    {% if imginfo[0] %}
		  data-img-src-{{ imgnum }}="{{ imginfo[0] | prepend: site.baseurl | replace: '//', '/' }}"
		  data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
		{% else %}
		  data-img-src-{{ imgnum }}="{{ imginfo | prepend: site.baseurl | replace: '//', '/' }}"
		{% endif %}
	  {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}">
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
           jax: ["input/TeX", "output/CommonHTML"],
           extensions: ["tex2jax.js"],
           tex2jax: { 
               inlineMath: [['$','$'], ['\\(','\\)']]
           },
           MathMenu: {
               showRenderer: false
           }
        });
    </script>
    <script type="text/javascript"
      src="javascript:(function(){if(window.MathJax===undefined){var%20script%20=%20document.createElement("script");script.type%20=%20"text/javascript";script.src%20=%20"https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML";var%20config%20=%20%27MathJax.Hub.Config({%27%20+%20%27extensions:%20["tex2jax.js"],%27%20+%20%27tex2jax:%20{%20inlineMath:%20[["$","$"],["\\\\\\\\\\\\(","\\\\\\\\\\\\)"]],%20displayMath:%20[["$$","$$"],["\\\\[","\\\\]"]],%20processEscapes:%20true%20},%27%20+%20%27jax:%20["input/TeX","output/HTML-CSS"]%27%20+%20%27});%27%20+%20%27MathJax.Hub.Startup.onload();%27;if%20(window.opera)%20{script.innerHTML%20=%20config}%20else%20{script.text%20=%20config}%20document.getElementsByTagName("head")[0].appendChild(script);(doChatJax=function(){window.setTimeout(doChatJax,1000);MathJax.Hub.Queue(["Typeset",MathJax.Hub]);})();}else{MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}})();">
    </script>	
{% if page.bigimg %}
<div class="big-img intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
		    {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
			{% else %}
			<h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
			{% endif %}
		  {% endif %}
		  
		  {% if include.type == "post" %}
		  <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{% endif %}
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
		    {% if include.type == "page" %}
            <hr class="small">
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
			{% else %}
			<h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
			{% endif %}
		  {% endif %}
		  
		  {% if include.type == "post" %}
		  <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
